@model NAA.Data.Applicant

@{
    ViewBag.Title = "Profile Details";
}

<h2>My Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div >
    <a href=@Url.Action("EditApplicant", new { id = Model.Id }) class="btn btn-default" role="button">
    <img src="~/Content/images/edit.png" alt="Edit" style="height:20px; width:20px" vspace="2"/> Edit Profile</a>
    <a href=@Url.Action("ApplicationsByApplicantId", new { id = Model.Id, Controller = "Application" }) class="btn btn-default" role="button">My Applications</a>
</div>
