@model IEnumerable<NAA.Data.BEANS.ApplicationListItemBEAN>

@{
    ViewBag.Title = "ApplicationsByApplicantId";
}

<h2>My Applications</h2>

<p>
    <a href=@Url.Action("CheckApplicationCount", new { applicantId = ViewBag.applicantId, Controller = "Application" }) class="btn btn-success" role="button">
        <img src="~/Content/images/add.png" alt="Add" style="height:20px; width:20px" vspace="2" /> Add Application
    </a>
    <a href=@Url.Action("Details", new { id = ViewBag.applicantId, Controller = "Applicant" }) class="btn btn-default" role="button">View Profile</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UniversityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniversityOffer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firm)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.UniversityName)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.UniversityOffer)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Firm)
            </td>
                <td>
                    <a href=@Url.Action("InitFirm", new { id = item.Id }) class="btn btn-default" role="button">
                        Firm
                    </a>
                    <a href=@Url.Action("Details", new { id = item.Id }) class="btn btn-info" role="button">
                        Details
                    </a>
                    <a href=@Url.Action("InitDelete", new { id = item.Id }) class="btn btn-danger" role="button">
                        Delete
                    </a>
                </td>
        </tr>

    }

</table>
