@model NAA.Data.BEANS.ApplicationDetailsBEAN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationDetailsBEAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityComment)
        </dd>

    </dl>
</div>
<p>
    <a href=@Url.Action("InitFirm", new { id = Model.Id }) class="btn btn-default" role="button">
        Firm
    </a>
    <a href=@Url.Action("InitDelete", new { id = Model.Id }) class="btn btn-default" role="button">
        <img src="~/Content/images/delete.png" alt="Add" style="height:20px; width:20px" vspace="2" /> Delete
    </a>
    <a href=@Url.Action("ApplicationsByApplicantId", new { id = Model.ApplicantId }) class="btn btn-default" role="button">
        <img src="~/Content/images/details.png" alt="Add" style="height:20px; width:20px" vspace="2" /> Back to List
    </a>
</p>

