@model NAA.Data.BEANS.ApplicationDetailsBEAN

@{
    ViewBag.Title = "Firm Application";
}

<h2>Firm Application</h2>

<div>
    <h4>Are you sure you want to firm this application?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.ApplicantId)
        </dt>

        <dd class="hidden">
            @Html.DisplayFor(model => model.ApplicantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm)
        </dd>

    </dl>
</div>
<a href=@Url.Action("FirmApplication", new { id = Model.Id }) class="btn btn-success" role="button">Confirm</a>
<a href=@Url.Action("ApplicationsByApplicantId", new { id = Model.ApplicantId }) class="btn btn-default" role="button">Cancel</a>

