@model NAA.Data.BEANS.ApplicationDetailsBEAN

@{
    ViewBag.Title = "InitFirm";
}

<h2>InitFirm</h2>

<div>
    <h4>ApplicationDetailsBEAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm)
        </dd>

    </dl>
</div>
<div class="col-md-10 col-md-offset-2">
    <a href=@Url.Action("FirmApplication", new { id = Model.Id }) class="btn btn-success" role="button">Confirm</a>
    <a href=@Url.Action("ApplicationsByApplicantId", new { id = Model.ApplicantId }) class="btn btn-default" role="button">Cancel</a>
</div>

